*{
	padding: 0;
	margin:0;
}
html,body{
	height: 100%;

}
@media(min-device-width:375px) and (max-device-width:667px){
html{
	font-size: 37.5px;
}
}
@media(min-device-width:320px) and (max-device-width:360px){
html{
	font-size: 32px;
}
}
body{
	background:#179ab8;
	color: #fff;
	font-family:  '微软雅黑',sans-serif;;
}
header ul{
	list-style: none;
	padding: 0.5rem;
	overflow: hidden;
}
header ul li{
	float: left;
	
}
#local{
	padding-left: 0.4rem;
}
#date-day,#date-week{
	font-size: 0.7rem;
	padding-left: 0.5rem;
	line-height: 1.3rem;
}
#now-temperature{
	font-size: 2.5rem;
	padding-left: 0.9rem;
	font-weight: 200;
}
.main{
	margin-top: 1rem;
}
.main dd{
	overflow: hidden;
}
.main dd div{
	float: left;
	padding-left:0.9rem; 
	font-size: 0.7rem;
}
/* https://api.heweather.com/x3/weather?city=松江&key=0c064a3ef8f64d728f2f96a775808c82*/
#se-for{
	list-style: none;
	overflow: hidden;
	font-size: 0.5rem;
	margin: 1.2rem 0 0 0.5rem ;
}
#se-for li{
	float: left;
	text-align: center;
	width: 13%;
	border-left:1px solid #fff; 
}
#se-for li:first-child{
	border: none;
}

.suggestion{
	font-size: 0.6rem;
	position: absolute;
	bottom: 0.5rem;
}
.suggestion {
	margin: 0.5rem;
}